@import "tailwindcss";

:root {
  --background: #CAF0F8;
  --foreground: #02033C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-elephant: "Elephant", system-ui, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #CAF0F8;
    --foreground: #02033C;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
